* {
  cursor: none;
}

body {
  font-family: 'Syne', sans-serif;
  color: #ffffff;
  background-color: #0d0d0d;
}

.App {
  padding: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-family: 'Syne', sans-serif;
  font-weight: 800;
}
